@import "tailwindcss";

/* marquee animation: continuous leftwards movement */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Apply marquee animation */
.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
  white-space: nowrap;
}

.marquee-text {
  will-change: transform;
}

/* Wiggling down arrow */
@keyframes wiggle {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(5px); }
  50% { transform: translateY(10px); }
  75% { transform: translateY(5px); }
}

/* hide default scrollbar */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
